@charset "UTF-8";

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    background-color: #ffffff;
    color: #666363;
    /*フォントは後で要調整*/
}

select {
    color: #666363;
}

main {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #666363;
}

li {
    list-style: none;
}

.page-title {
    font-size: 23px;
    margin: 10px 0 20px 0;
    border-bottom: 1px solid #666363;
}

.main-content-aria {
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 8px;
}

.error-message {
    color: #ff0000;
    white-space: nowrap;
    margin: 5px 0 0 0;
}

.success {
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 5px 0;
    max-width: 100%;
    text-align: center;
    align-items: center;
    background: #5bc8ac;
    color: #ffffff;
}

/*--ここからログイン画面--*/

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #dcfcf3;
}

.login-container div {
    margin-bottom: 16px;
}

.login-container form {
    width: 100%;
    max-width: 320px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
}

.login-container input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #a0a0a0;
}

.login-container button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    background-color: #5bc8ac;
}

.login-container button:hover {
    background-color: #4ca594;
}

/*--ここまでログイン画面--*/

/*--ここからナビゲーションメニュー--*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.header-contant-left {
    margin-left: 15px;
}

.header-contant-right {
    margin: 10px 15px 0 0;
}

.header-contant-left li {
    display: inline;
    border-right: 1px solid #666363;
    padding: 5px 5px 5px 0;

}

.header-contant-left button {
    padding: 8px 10px;
    border-radius: 6px;
}

.header-contant-left button:hover {
    background-color: #c4c5c5;
}

.header-contant-left span {
    margin-right: 8px;
}

.header-contant-right {
    display: flex;
    margin-top: 20px;
}

.user-control-aria {
    text-align: right;
}

.user-control-aria li {
    margin-bottom: 10px;
    font-weight: bold;
}

.logged-in-user-text {
    font-size: 20px;
}

.logout-btn {
    border-radius: 6px;
    padding: 5px 0;
    background-color: #f08080;
}

.logout-btn:hover {
    background-color: #be7676;
}

.logout-btn a {
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 6px;
}

/*--ここまでナビゲーションメニュー--*/

/*--ここからお知らせ機能--*/

.notification-aria {
    position: relative;
    margin: 0px 30px 0px 0px;
}

.notification-aria li {
    list-style: none;
    font-size: 18px;
    padding: 5px;
    border-bottom: 1px solid #666363;
}

.notification-aria .fa-bell {
    font-size: 1.5em;
}

.notification-count-badge {
    position: absolute;
    top: 8px;
    left: 17px;
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 50%;
    padding: 4px 5px;
    font-size: 12px;
}

.notification-list {
    position: absolute;
    top: calc(100% + 10px);
    /* メニューがトリガーボタンの下に表示されるように調整 */
    right: 0;
    z-index: 999;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 700px;
}

.notification-date {
    float: right;

}

/*--ここまでお知らせ機能--*/

/*--ここからダッシュボード画面--*/

.dashboard {
    height: 500px;
    display: flex;
    /*コンテンツ追加時に調整*/
}

.dashboard button {
    background-color: #dcfcf3;
    padding: 5px 10px;
    margin: 0 10px;
    height: fit-content;
}

.dashboard button:hover {
    background-color: #95d8c5;
}

/*--ここまでダッシュボード画面--*/

/*--ここからアカウント登録画面--*/

.register-form {
    margin-right: 25px;
}

.form-item {
    padding-top: 24px;
    padding-bottom: 24px;
}


.form-item label {
    width: 100%;
    max-width: 248px;
    letter-spacing: 0.05em;
    font-weight: bold;
}


.required {
    border-radius: 6px;
    margin: 0 8px 0px 0;
    padding: 5px 0;
    width: 48px;
    display: inline-block;
    text-align: center;
    background: #5bc8ac;
    color: #ffffff;
    font-size: 15px;
}


.form-item-input {
    border: 1px solid #dddddd;
    border-radius: 6px;
    margin-top: 15px;
    padding-left: 1em;
    padding-right: 1em;
    height: 45px;
    width: 100%;
    background: #ffffff;
}

.form-item textarea {
    padding-top: 0.8em;
    height: 216px;
}

.form-btn {
    border-radius: 6px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 115px;
    letter-spacing: 0.05em;
    background-color: #5bc8ac;
    color: #ffffff;
}

.form-btn:hover {
    background-color: #4ca594;
}


/*--ここまでアカウント登録画面--*/

/*--ここからアカウント・お問い合わせ一覧画面--*/

.new-register-btn {
    position: absolute;
    right: 0;
    margin-right: 20px;
    border-radius: 6px;
    padding: 8px;
    letter-spacing: 0.05em;
    background-color: #5bc8ac;
    text-align: center;
    max-width: fit-content;
    /*位置調整方法を要検討*/
}

.new-register-btn:hover {
    background-color: #4ca594;
}

.new-register-btn a {
    color: #ffffff;
}

.new-register-btn span {
    margin-right: 5px;
}

.table-list {
    display: flex;
    justify-content: center;
}

table {
    border-spacing: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-right: 20px;
    margin-top: 10px;
}

table th {
    border: 0.5px solid #bbbfc2;
    text-align: center;
    padding: 5px 15px;
    background-color: #e0e0e0;
}

table td {
    border: 0.5px solid #bbbfc2;
    background-color: #ffffff;
    padding: 10px 8px 10px 8px;
}

.fa-trash-can {
    color: #ff0000;
    font-size: 1.2em;
}

.fa-pen-to-square {
    font-size: 1.2em;
}

.table-center {
    text-align: center;
}

.pagenation {
    display: flex;
    justify-content: end;
    margin: 10px 10px 15px 10px;
}

.current-page {
    background-color: #34d399;
    color: #ffffff;
    padding: 0 8px;
    border-radius: 4px;
}

.page-link {
    background-color: #ffffff;
    color: #4b5563;
    padding: 0 8px;
    border-radius: 4px;
}

.page-link:hover {
    background-color: #e5e7eb;
}

.arrow-link-next,
.arrow-link-prev {
    padding: 0 5px;
}

.arrow-link-next:hover,
.arrow-link-prev:hover {
    background-color: #e5e7eb;
}

.item-float-right {
    float: right;
    margin-left: 30px;
    margin-right: 10px;
}

.item-float-right2 {
    float: right;
}

/*--ここまでアカウント・お問い合わせ一覧画面--*/

/*--ここからお問い合わせ編集--*/

.inquiry-container {
    margin-right: 25px;
    display: flex;
}

.inquiry-form {
    flex: 1;
}

.form-item {
    max-width: 720px;
}

.form-item-textarea {
    padding-top: 0.8em;
    height: 216px;
}

.inquiry-info {
    border-left: 1px solid #a0a0a0;
    max-width: 720px;
    padding: 10px 20px;
    margin-top: 25px;
    max-height: 720px;
    flex: 2;
}

.inquiry-info p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.inquiry-info label {
    font-weight: bold;
}

.inquiry-info .sub-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

.inquiry-info .info-item {
    margin-bottom: 15px;
}

/*--ここまでお問い合わせ編集--*/

/*--ここから検索機能--*/

.search-form {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-form form {
    display: flex;
}

.form-group {
    margin-right: 25px;
}

.search-form select {
    width: 270px;
}

.search-form input[type="search"],
.search-form select {
    border: 1px solid #dddddd;
    border-radius: 6px;
    padding: 10px;
    height: 42px;
}

.search-form input[type="submit"] {
    border: none;
    border-radius: 6px;
    padding: 6px 18px;
    background-color: #5bc8ac;
    color: #ffffff;
    cursor: pointer;
}

.search-form input[type="submit"]:hover {
    background-color: #4ca594;
}

select.minimal {
    background-image:
        linear-gradient(45deg, transparent 50%, #808080 50%),
        linear-gradient(135deg, #808080 50%, transparent 50%),
        linear-gradient(to right, #cccccc, #cccccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

select.minimal:focus {
    background-image:
        linear-gradient(45deg, #5bc8ac 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, #5bc8ac 50%),
        linear-gradient(to right, #cccccc, #cccccc);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    border-color: #5bc8ac;
    outline: 0;
}


select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

/*--ここまで検索機能--*/

/*--ここからお問い合わせフォーム--*/
.contact-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    /*スマートフォン用*/
    /* display: flex;
    justify-content: center; */
}

.contact-form .form-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contact-form .form-item-input,
.contact-form .form-btn {
    font-size: 18px;
}

.contact-form .form-item-check {
    margin-top: 15px;
    width: 100%;
}

.contact-form .form-btn {
    max-width: fit-content;
    margin-top: 15px;
    padding: 5px 10px;
    border: 1px solid #a0a0a0;
}

.contact-form .form-item:nth-child(9) {
    border-bottom: 1px solid #dddddd;
}

.contact-thanks .form-item {
    padding-top: 8px;
    padding-bottom: 8px;
}

.contact-form .under-line {
    border-bottom: 1px solid #dddddd;
}

/*--ここまでお問い合わせフォーム--*/