@charset "UTF-8";

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    background-color: #fff;
    color: #666363;
    /*フォントは後で要調整*/
}

a {
    text-decoration: none;
    color: #666363;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    /* サイドメニューとメインコンテンツの割合を指定 */
}

header {
    display: flex;
    justify-content: end;
}

header p {
    margin: 25px 20px 17px 0;
}

.logout-btn {
    border-radius: 6px;
    padding: 10px 15px;
    background-color: rgba(241, 116, 116, 0.3);
}

.page-title {
    font-size: 23px;
    margin: 20px 10px 20px 0;
    border-bottom: 1px solid #666363;
}

.main-content-aria {
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 8px;
}

.error-message {
    color: #ff0000;
    white-space: nowrap;
    margin: 5px 0 0 0;
}

.success {
    border-radius: 6px;
    margin: 0 0 20px 50px;
    padding: 5px 0;
    max-width: 90%;
    text-align: center;
    align-items: center;
    background: #5bc8ac;
    color: #fff;
}

/*--ここからログイン画面--*/

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #dcfcf3;
}

.login-container div {
    margin-bottom: 16px;
}

.login-container form {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container label {
    display: block;
    margin-bottom: 8px;
}

.login-container input {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #a0a0a0;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: #5bc8ac;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*--ここまでログイン画面--*/

/*--ここからサイドメニュー--*/

.sidebar {
    max-width: 250px;
    height: 100%;
    background-color: #5bc8ac;
    position: fixed;
}

.side-toggle-btn {
    color: #fff;
    font-size: 25px;
    text-align: right;
    margin-right: 10px;
}

.sidebar li {
    color: #fff;
    list-style: none;
}

.sidebar li span {
    margin: 0 10px 0 10px;
}

.sidebar a {
    padding: 10px;
    border-bottom: 1px solid #a0a0a0;
    display: block;
    margin-right: 30px;
}

.sidebar a:hover {
    background-color: #a0a0a0;
}

/*--ここまでサイドメニュー--*/


/*--ここからダッシュボード画面--*/

.dashboard {
    height: 500px;
    /*コンテンツ追加時に調整*/
}

/*--ここまでダッシュボード画面--*/

/*--ここからアカウント登録画面--*/

.register-form {
    margin-right: 25px;
}

.form-item {
    padding-top: 24px;
    padding-bottom: 24px;
}


.form-item label {
    width: 100%;
    max-width: 248px;
    letter-spacing: 0.05em;
    font-weight: bold;
}


.required {
    border-radius: 6px;
    margin: 0 8px 0px 0;
    padding: 5px 0;
    width: 48px;
    display: inline-block;
    text-align: center;
    background: #5bc8ac;
    color: #fff;
    font-size: 15px;
}


.form-item-input {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-top: 15px;
    padding-left: 1em;
    padding-right: 1em;
    height: 45px;
    width: 100%;
    background: #fff;
}

.form-item textarea {
    padding-top: 0.8em;
    height: 216px;
}

.form-btn {
    border-radius: 6px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 115px;
    letter-spacing: 0.05em;
    background-color: #5bc8ac;
    color: #fff;
}


/*--ここまでアカウント登録画面--*/

/*--ここからアカウント・お問い合わせ一覧画面--*/

.new-register-btn {
    position: absolute;
    right: 0;
    margin-right: 20px;
    border-radius: 6px;
    padding: 8px;
    letter-spacing: 0.05em;
    background-color: #5bc8ac;
    text-align: center;
    max-width: fit-content;
    /*位置調整方法を要検討*/
}

.new-register-btn a {
    color: #fff;
}

.new-register-btn span {
    margin-right: 5px;
}

.table-list {
    display: flex;
    justify-content: center;
}

table {
    border-spacing: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-right: 20px;
    margin-top: 10px;
}

table th {
    border: 0.5px solid #bbbfc2;
    text-align: center;
    padding: 5px 15px;
    background-color: #e0e0e0;
}

table td {
    border: 0.5px solid #bbbfc2;
    background-color: #fff;
    padding: 10px 8px 10px 8px;
}

.fa-trash-can {
    color: red;
    font-size: 1.2em;
}

.fa-pen-to-square {
    font-size: 1.2em;
}

.table-center {
    text-align: center;
}

.pagenation {
    display: flex;
    justify-content: end;
    margin: 10px 10px 15px 10px;
}

.current-page {
    background-color: #34D399;
    /* 現在のページ番号に適用する背景色 */
    color: #fff;
    /* ページ番号の文字色 */
    padding: 0 8px;
    /* ページ番号の余白 */
    border-radius: 4px;
    /* ページ番号の角丸 */
}

.page-link {
    background-color: #fff;
    /* 他のページ番号に適用する背景色 */
    color: #4B5563;
    /* ページ番号の文字色 */
    padding: 0 8px;
    /* ページ番号の余白 */
    border-radius: 4px;
    /* ページ番号の角丸 */
}

.page-link:hover {
    background-color: #E5E7EB;
    /* ページ番号にホバーした際の背景色 */
}

.arrow-link-next,
.arrow-link-prev {
    padding: 0 5px;
}

.arrow-link-next:hover,
.arrow-link-prev:hover {
    background-color: #E5E7EB;
}

.item-float-right {
    float: right;
    margin-left: 30px;
    margin-right: 10px;
}

.item-float-right2 {
    float: right;
}

/*--ここまでアカウント・お問い合わせ一覧画面--*/

/*--ここからお問い合わせ編集--*/

.inquiry-container {
    margin-right: 25px;
    display: flex;
}

.inquiry-form {
    flex: 1;
}

.form-item {
    max-width: 720px;
}

.form-item-textarea {
    padding-top: 0.8em;
    height: 216px;
}

.inquiry-info {
    border-left: 1px solid #a0a0a0;
    max-width: 720px;
    padding: 10px 20px;
    margin-top: 25px;
    max-height: 720px;
    flex: 2;
}

.inquiry-info p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.inquiry-info label {
    font-weight: bold;
}

.inquiry-info .sub-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

.inquiry-info .info-item {
    margin-bottom: 15px;
}

/*--ここまでお問い合わせ編集--*/

/*--ここから検索機能--*/

.search-form {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-form form {
    display: flex;
}

.form-group {
    margin-right: 25px;
}

.search-form select {
    width: 270px;
}

.search-form input[type="search"],
.search-form select {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px;
    height: 42px;
}

.search-form input[type="submit"] {
    border: none;
    border-radius: 6px;
    padding: 6px 18px;
    background-color: #5bc8ac;
    color: #fff;
    cursor: pointer;
}

.search-form input[type="submit"]:hover {
    background-color: #4ca594;
}

select.minimal {
    background-image:
        linear-gradient(45deg, transparent 50%, #808080 50%),
        linear-gradient(135deg, #808080 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

select.minimal:focus {
    background-image:
        linear-gradient(45deg, #5bc8ac 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, #5bc8ac 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    border-color: #5bc8ac;
    outline: 0;
}


select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

/*--ここまで検索機能--*/

/*--ここからお知らせ機能--*/

.notification-aria {
    position: relative;
    margin: 20px 20px 0 20px;
}

.notification-aria li {
    list-style: none;
    font-size: 18px;
}

.notification-aria .fa-bell {
    font-size: 1.5em;
}

.notification-badge {
    position: absolute;
    top: 8px;
    left: 17px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 5px;
    font-size: 12px;
}

.notification-menu {
    position: absolute;
    top: calc(100% + 10px);
    /* メニューがトリガーボタンの下に表示されるように調整 */
    right: 0;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 700px;
}


/*--ここまでお知らせ機能--*/

/*--ここからお問い合わせフォーム--*/
.contact-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    /*スマートフォン用*/
    /* display: flex;
    justify-content: center; */
}

.contact-form .form-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contact-form .form-item-input,
.contact-form .form-btn {
    font-size: 18px;
}

.contact-form .form-item-check {
    margin-top: 15px;
    width: 100%;
}

.contact-form .form-btn {
    max-width: fit-content;
    margin-top: 15px;
    padding: 5px 10px;
    border: 1px solid #a0a0a0;
}

.contact-form .form-item:nth-child(9) {
    border-bottom: 1px solid #ddd;
}

.contact-thanks .form-item {
    padding-top: 8px;
    padding-bottom: 8px;
}

.contact-form .under-line {
    border-bottom: 1px solid #ddd;
}

/*--ここまでお問い合わせフォーム--*/